body {
    background-color: #ad9e9e;
}

.gameContainer {
    display: flex;
    margin: auto;
    width: 80%;
}

.chatMessages {
    height: 758px;
    width: 300px;
    border: 1px solid; 
    background-color: #d3d3d3;
    font: 1em "Lucida Console", sans-serif;
    white-space: initial;
    overflow-y: scroll;
}

.chatInput > input {
    width: 100%;
}

.chatInput > button {
    width: 100%;
}